.fade-in-top {
  animation: fadeInTop 0.5s ease-in-out;
}

.fade-out-top {
  animation: fadeOutTop 0.5s ease-in-out;
}

.move-in-top {
  animation: moveInTop 0.5s ease-in;
}

.move-out-top {
  animation: moveOutTop 0.5s ease-out;
}

.expand-in-top {
  animation: expandInTop 0.5s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeInTop {
  from {
    transform: translateY(-5px);
    opacity: 0;
  }

  to {
    transform: translateY(5px);
    opacity: 1;
  }
}

@keyframes fadeOutTop {
  to {
    transform: translateY(-5px);
    opacity: 0;
  }
}

@keyframes moveInTop {
  from {
    transform: translateY(-3rem);
    opacity: 0;
  }

  to {
    transform: translateY(.5rem);
    opacity: 1;
  }
}

@keyframes moveOutTop {
  to {
    transform: translateY(-3rem);
    opacity: 0;
  }
}

@keyframes expandInTop {
  0% {
    transform: translateY(-3rem);
    height: 0px;
  }

  100% {
    transform: translate(0);
    height: 100%;
  }
}
