<nav
  #header
  class="navbar navbar-expand-lg navbar-dark bg-primary text-white"
>
  <div class="container py-2">
    <a
      routerLink="/home"
      class="navbar-brand"
    >NGX UI KIT</a>

    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbar-collapse"
      aria-controls="navbar-spotify"
    >
      <span class="navbar-togger-icon"></span>
    </button>

    <div
      id="navbar-collapse"
      class="collapse navbar-collapse"
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            routerLink="/home"
            class="nav-link text-white"
          >Home</a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/home/charts"
            class="nav-link text-white"
          >Charts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<perfect-scrollbar
  class="col xc-layout-primary-content"
  [style.max-height]="contentMaxHeight"
>
  <div class="container py-5">
    <router-outlet></router-outlet>
  </div>
</perfect-scrollbar>
