.autocomplete-container {
  position: relative;

  .list-group {
    position: absolute;
    width: 100%;
  }

  .fa-times {
    position: absolute;
    top: 13px;
    right: 10px;
    font-size: 10px;
    cursor: pointer;
  }
}
