.ngx-datepicker-calendar-container {
  z-index: 2000;

  &.ngx-datepicker-position-bottom-right {
    top: 0 !important;
  }

  &.ngx-datepicker-position-bottom-left {
    top: 0 !important;
  }
}

.datepicker-container {
  .fa-times {
    position: absolute;
    top: 14px;
    right: 48px;
    font-size: 10px;
    cursor: pointer;
    z-index: 4;
  }

  .input-group-prepend {
    cursor: pointer;
  }
}
