.toast-container {
  position: fixed;
  z-index: 999999;
  top: 12px;
  right: 12px;
  width: 280px;
  max-width: 320px;

  .toaster {
    opacity: 1;
    animation: toastIn .5s ease-in-out;

    .header {
      width: 100%;
      border-bottom: solid 1px #d3d3d3;

      .icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
      }

      span {
        font-size: 1.25rem;
        font-weight: 600;
        word-break: break-word;
      }
    }

    .body {
      padding: 10px;
    }
  }
}

@keyframes toastIn {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }

  to {
    transform: translateY(10px);
    opacity: 1;
  }
}

@keyframes toastOut {
  to {
    transform: translateY(-100px);
    opacity: 0;
  }
}
