<div class="container">
  <h2>
    Showcase
    <hr />
  </h2>
  <div class="row">
    <div class="col-12 col-md-6 my-3">
      <div class="card">
        <div class="card-header">Toaster</div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="toaster.header"
                  placeholder="Header"
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="toaster.body"
                  placeholder="Body"
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <input
                  class="form-control"
                  type="number"
                  [(ngModel)]="toaster.timeout"
                  placeholder="Timeout"
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <p-select
                  selectClass="form-control"
                  [options]="['primary', 'secondary', 'success', 'warning', 'danger', 'info', 'light', 'dark']"
                  [(ngModel)]="toaster.type"
                ></p-select>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [(ngModel)]="toaster.closeOnClick"
                  id="close-on-click"
                />
                <label
                  class="form-check-label"
                  for="close-on-click"
                >Close On Click</label>
              </div>
            </div>
          </div>
        </div>
        <button
          type="button"
          class="mt-1 ml-1 btn btn-info"
          (click)="showToaster()"
        >Dispatch toaster</button>
      </div>
    </div>

    <div class="col-12 col-md-6 my-3">
      <div class="card">
        <div class="card-header">Select</div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <p-select
                  placeholder="Select an option"
                  [options]="['Lorem', 205, { label: 'Lorem ipsum', value: 'lorem_ipsum' }]"
                  (select)="log($event)"
                  [(ngModel)]="selectValue"
                ></p-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 my-3">
      <div class="card">
        <div class="card-header">Input</div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <p-input
                  [(ngModel)]="inputValue"
                  [autofocus]="true"
                  [autofocusDelay]="10000"
                  placeholder="Enter phone number"
                  type="text"
                  labelText="Phone Number"
                  helpText="Please enter Turkey phone format"
                  id="phone-number"
                ></p-input>
                {{inputValue}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 my-3">
      <div class="card">
        <div class="card-header">Radio</div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p-radio
                [radioValue]="'one'"
                [(ngModel)]="radio"
                (ngModelChange)="onChangeRadio($event)"
              >One</p-radio>
              <p-radio
                [radioValue]="'two'"
                [(ngModel)]="radio"
                (ngModelChange)="onChangeRadio($event)"
              >Two</p-radio>
              <p-radio
                [radioValue]="'three'"
                [(ngModel)]="radio"
                (ngModelChange)="onChangeRadio($event)"
              >Three</p-radio>
              {{ 'Value: ' + radio }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 col-md-6 my-3">
      <div class="card">
        <div class="card-header">Checkbox</div>
        <div class="card-body">
          <div class="row">
            <div class="col pl-5">
              <p-checkbox
                [(ngModel)]="checkbox"
                labelText="Check me out"
                id="check-one"
              >Check me out</p-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 my-3">
      <div class="card">
        <div class="card-header">Textarea</div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p-textarea
                [labelText]="'Description'"
                [helpText]="'Allowed Turkish characters'"
                [(ngModel)]="textarea"
              ></p-textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 col-md-6 my-3">
      <div class="card">
        <div class="card-header">Input Spinner</div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p-spinner
                [(ngModel)]="spinner"
                [step]="0.5"
              ></p-spinner>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 col-md-6 my-3">
      <div class="card">
        <div class="card-header">
          Tooltip
          <small
            class="float-right"
            (mouseover)="tooltipButton.hide()"
          >Mouse over and hide click to trigger tooltip</small>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <button
                class="btn btn-sm btn-secondary"
                pTooltip="tooltip on top"
              >Top</button>
              <button
                class="btn btn-sm btn-secondary ml-1"
                pTooltip="tooltip on bottom"
                pTooltipPlacement="bottom"
              >
                Bottom
              </button>
              <button
                class="btn btn-sm btn-secondary ml-1"
                pTooltip="tooltip on left"
                pTooltipPlacement="left"
              >
                Left
              </button>
              <button
                class="btn btn-sm btn-secondary ml-1"
                pTooltip="tooltip on right"
                pTooltipPlacement="right"
              >
                Right
              </button>
              <button
                class="btn btn-sm btn-secondary ml-1"
                [pTooltip]="tooltipTemplate"
              >Template</button>
              <button
                class="btn btn-sm btn-secondary ml-1"
                [pTooltip]="tooltipTemplate"
                [pTooltipTrigger]="'click'"
                #tooltipButton="pTooltip"
              >
                Click to trigger
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 my-3">
      <div class="card">
        <div class="card-header">
          Popover
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <button
                class="btn btn-sm btn-secondary"
                pPopover="Popover on top"
                pPopoverHeader="Popover title"
                pPopoverPlacement="top"
              >
                Top
              </button>
              <button
                class="btn btn-sm btn-secondary ml-1"
                pPopover="Popover on bottom"
                pPopoverHeader="Popover title"
                pPopoverPlacement="bottom"
              >
                Bottom
              </button>
              <button
                class="btn btn-sm btn-secondary ml-1"
                pPopover="Popover on left"
                pPopoverHeader="Popover title"
                pPopoverPlacement="left"
              >
                Left
              </button>
              <button
                class="btn btn-sm btn-secondary ml-1"
                pPopover="Popover on right"
                pPopoverHeader="Popover title"
                pPopoverPlacement="right"
              >
                Right
              </button>
              <button
                class="btn btn-sm btn-secondary ml-1"
                [pPopover]="popoverTemplate"
                [pPopoverHeader]="popoverHeaderTemplate"
              >
                Template
              </button>
              <button
                class="btn btn-sm btn-secondary ml-1"
                pPopover="Popover on right"
                pPopoverHeader="Popover title"
                pPopoverTrigger="mousemove"
              >
                Mouse move to trigger
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 my-3">
      <div class="card">
        <div class="card-header">Layout Scroll</div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <button
                type="button"
                class="btn btn-primary"
                (click)="scrollTo('top')"
              >Scroll to top</button>
              <button
                type="button"
                class="btn btn-secondary ml-1"
                (click)="scrollTo('bottom')"
              >
                Scroll to bottom
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 my-3">
      <div class="card">
        <div class="card-header">Pagination</div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <p-select
                  selectClass="form-control"
                  placeholder="Pagination Range"
                  [options]="[5, 7, 9, 11]"
                  [(ngModel)]="page.paginationRange"
                ></p-select>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <input
                  class="form-control"
                  type="number"
                  [(ngModel)]="page.totalPages"
                  placeholder="Total Pages"
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="page.previousLabel"
                  placeholder="Previous Label"
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="page.nextLabel"
                  placeholder="Next Label"
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <p-select
                  selectClass="form-control"
                  placeholder="Alignment"
                  [options]="['start', 'center', 'end']"
                  [(ngModel)]="page.alignment"
                ></p-select>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <p-select
                  selectClass="form-control"
                  placeholder="Size"
                  [options]="['sm', 'md', 'lg']"
                  [(ngModel)]="page.size"
                ></p-select>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-12">
              <p-pagination
                [paginationRange]="page.paginationRange"
                [totalPages]="page.totalPages"
                [previousLabel]="page.previousLabel"
                [nextLabel]="page.nextLabel"
                [alignment]="page.alignment"
                [size]="page.size"
                [(ngModel)]="page.value"
              ></p-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6  my-3">
      <div class="card">
        <div class="card-header">Modal</div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <button
                type="button"
                class="btn btn-primary"
                (click)="isModalShow = true"
              >Launch demo modal</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6  my-3">
      <div class="card">
        <div class="card-header">Carousel</div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p-carousel>
                <img
                  src="https://source.unsplash.com/collection/1065412/200x201/"
                  class="img-thumbnail"
                />
                <img
                  src="https://source.unsplash.com/collection/1065412/200x202/"
                  class="img-thumbnail"
                />
                <img
                  src="https://source.unsplash.com/collection/1065412/200x203/"
                  class="img-thumbnail"
                />
                <img
                  src="https://source.unsplash.com/collection/1065412/200x204/"
                  class="img-thumbnail"
                />
                <img
                  src="https://source.unsplash.com/collection/1065412/200x200/"
                  class="img-thumbnail"
                />
              </p-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 my-3">
      <div class="card">
        <div class="card-header">Datepicker</div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p-datepicker [(ngModel)]="date"></p-datepicker>
              <pre>{{ date }}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 my-3">
      <div class="card">
        <div class="card-header">Autocomplete</div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p-autocomplete
                [(ngModel)]="autocompleteValue"
                [items]="[{text: 'text', value: 5}, {text: 'lorem', value: 6}]"
              ></p-autocomplete>
              {{ autocompleteValue | json}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-modal
  modalClass="w-100"
  size="lg"
  [(visible)]="isModalShow"
  [centered]="true"
>
  <ng-template #mnHeader>
    <h3>Modal Title</h3>
  </ng-template>

  <ng-template #mnBody>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita
      dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita
      dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita
      dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita
      dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita
      dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita
      dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita
      dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita
      dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita
      dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita
      dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita
      dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita
      dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.
    </p>
  </ng-template>

  <ng-template #mnFooter>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="isModalShow = false"
    >Close</button>
    <button
      type="button"
      class="btn btn-primary"
    >Save changes</button>
  </ng-template>
</p-modal>

<ng-template #tooltipTemplate>
  <h5>h5 <span style="color:aqua">Aqua color</span></h5>
</ng-template>

<ng-template #popoverHeaderTemplate>
  <h5>Popover h5 title</h5>
</ng-template>

<ng-template #popoverTemplate>
  <b><i>Popover</i></b> <span style="color:aqua">content</span>
</ng-template>
