<div class="container">
  <h2>Showcase
    <hr>
  </h2>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          Toaster
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="toaster.header"
                  placeholder="Header"
                >
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="toaster.body"
                  placeholder="Body"
                >
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <input
                  class="form-control"
                  type="number"
                  [(ngModel)]="toaster.timeout"
                  placeholder="Timeout"
                >
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <mn-select
                  [options]="['primary', 'secondary', 'success', 'warning', 'error', 'info', 'light', 'dark']"
                  [(ngModel)]="toaster.type"
                ></mn-select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [(ngModel)]="toaster.closeOnClick"
                  id="close-on-click"
                >
                <label
                  class="form-check-label"
                  for="close-on-click"
                >Close On Click</label>
              </div>
            </div>
          </div>
        </div>
        <button
          type="button"
          class="mt-1 ml-1 btn btn-info"
          (click)="showToaster()"
        >Dispatch toaster</button>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-header">
          Select
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <mn-select
                  placeholder="Select an option"
                  [options]="['Lorem', 205, {label: 'Lorem ipsum', value: 'lorem_ipsum'}]"
                  (select)="log($event)"
                  [(ngModel)]="selectValue"
                ></mn-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <div class="row mt-3">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          Carousel
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <mn-carousel>
                <img
                  src="https://source.unsplash.com/200x201/"
                  class="img-thumbnail"
                >
                <img
                  src="https://source.unsplash.com/200x202/"
                  class="img-thumbnail"
                >
                <img
                  src="https://source.unsplash.com/200x203/"
                  class="img-thumbnail"
                >
                <img
                  src="https://source.unsplash.com/200x204/"
                  class="img-thumbnail"
                >
                <img
                  src="https://source.unsplash.com/200x200/"
                  class="img-thumbnail"
                >
              </mn-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
