<div class="container">
  <h2>Showcase
    <hr>
  </h2>
  <div class="row">
    <div class="col-12 col-md-6 my-3">
      <div class="card">
        <div class="card-header">
          Toaster
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="toaster.header"
                  placeholder="Header"
                >
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="toaster.body"
                  placeholder="Body"
                >
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <input
                  class="form-control"
                  type="number"
                  [(ngModel)]="toaster.timeout"
                  placeholder="Timeout"
                >
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <p-select
                  selectClass="form-control"
                  [options]="['primary', 'secondary', 'success', 'warning', 'danger', 'info', 'light', 'dark']"
                  [(ngModel)]="toaster.type"
                ></p-select>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [(ngModel)]="toaster.closeOnClick"
                  id="close-on-click"
                >
                <label
                  class="form-check-label"
                  for="close-on-click"
                >Close On Click</label>
              </div>
            </div>
          </div>
        </div>
        <button
          type="button"
          class="mt-1 ml-1 btn btn-info"
          (click)="showToaster()"
        >Dispatch toaster</button>
      </div>
    </div>

    <div class="col-12 col-md-6  my-3">
      <div class="card">
        <div class="card-header">
          Select
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <p-select
                  placeholder="Select an option"
                  [options]="['Lorem', 205, {label: 'Lorem ipsum', value: 'lorem_ipsum'}]"
                  (select)="log($event)"
                  [(ngModel)]="selectValue"
                ></p-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 col-md-6  my-3">
      <div class="card">
        <div class="card-header">
          Carousel
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p-carousel>
                <img
                  src="https://source.unsplash.com/collection/1065412/200x201/"
                  class="img-thumbnail"
                >
                <img
                  src="https://source.unsplash.com/collection/1065412/200x202/"
                  class="img-thumbnail"
                >
                <img
                  src="https://source.unsplash.com/collection/1161793/200x203/"
                  class="img-thumbnail"
                >
                <img
                  src="https://source.unsplash.com/collection/1161793/200x204/"
                  class="img-thumbnail"
                >
                <img
                  src="https://source.unsplash.com/collection/1065412/200x200/"
                  class="img-thumbnail"
                >
              </p-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 my-3">
      <div class="card">
        <div class="card-header">
          Tooltip
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <button
                class="btn btn-sm btn-secondary"
                pTooltip="tooltip on top"
              >Top</button>
              <button
                class="btn btn-sm btn-secondary ml-1"
                pTooltip="tooltip on bottom"
                pTooltipPlacement="bottom"
              >Bottom</button>
              <button
                class="btn btn-sm btn-secondary ml-1"
                pTooltip="tooltip on left"
                pTooltipPlacement="left"
              >Left</button>
              <button
                class="btn btn-sm btn-secondary ml-1"
                pTooltip="tooltip on right"
                pTooltipPlacement="right"
              >Right</button>
              <button
                class="btn btn-sm btn-secondary ml-1"
                [pTooltip]="tooltipTemplate"
              >Template</button>
              <button
                class="btn btn-sm btn-secondary ml-1"
                [pTooltip]="tooltipTemplate"
                [pTooltipTrigger]="'click'"
              >Click to trigger</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6  my-3">
      <div class="card">
        <div class="card-header">
          Modal
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#exampleModalCenter"
                (click)="isModalShow = true"
              >
                Launch demo modal
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-modal
  modalClass="w-100"
  size="lg"
  [(visible)]="isModalShow"
  [centered]="true"
>
  <ng-template #mnHeader>
    <h3>Modal Title</h3>
  </ng-template>

  <ng-template #mnBody>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet esse deserunt quasi perspiciatis, expedita dolores sapiente vitae a delectus dolor est. Ullam quod veritatis delectus error deserunt voluptatum ipsam minima.</p>
  </ng-template>

  <ng-template #mnFooter>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="isModalShow = false"
    >Close</button>
    <button
      type="button"
      class="btn btn-primary"
    >Save changes</button>
  </ng-template>
</p-modal>

<ng-template #tooltipTemplate>
  <h5>Test h5 <span style="color:aqua">Aqua color</span></h5>
</ng-template>
